[report]
omit = 
    */baobab_configs/*
    *__init__*
    */plotting_utils.py
    */script_utils.py
    */train.py
    */infer_h0_simple_mc_truth.py
    */infer_h0_simple_mc.py
    */infer_h0_precision_ceiling.py
    */infer_h0_debug.py
    */infer_h0_mcmc_default.py
    */infer_h0_hybrid.py
    */summarize.py
    */combine_lenses.py
