#conda install pytorch torchvision cudatoolkit=9.2 -c pytorch
git+https://github.com/jiwoncpark/corner.py.git@master
git+https://github.com/jiwoncpark/lenstronomy.git@master
git+https://github.com/jiwoncpark/baobab.git@issue/55
torch
torchvision
tb-nightly
future
numpy
matplotlib
ipykernel
astropy
pandas
dynesty
tqdm
mpmath
scikit-image
addict
progressbar