#conda install pytorch torchvision cudatoolkit=9.2 -c pytorch
lenstronomy
tb-nightly
future
numpy
matplotlib
ipykernel
astropy
pandas
dynesty
git+https://github.com/jiwoncpark/corner.py.git
tqdm
mpmath
addict